.App {
  font-family: sans-serif;
  text-align: center;
}
.profilePic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.App > div:nth-child(2) > .profilePic {
  border-radius: 0px;
}

.moviepic{
  height: 650px;
  width: 300px;
  object-fit: cover;
}

.moviespec{
  display: flex;
  justify-content: space-between;

}
.movieContainer{
 
  width: 300px;
  height: 950px;
}
.displaymovies{
  margin-left: 5%;
  margin-right: 5%;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
